.survey {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}

.survey .text {
    padding-top: 1%;
    position: relative;
    text-align: center;
    font-weight: 400;
    top: 0;
    color: var(--color-white);
}

.survey .text h1 {
    font-size: 187%;
    font-weight: var(--main-weight);
}

h1,h2 {
    text-align: center;
    line-height: 30px;
}

.survey .text h2 {
    font-size: 125%;
    font-style: italic;
    font-weight: var(--seconday-weight);
}

.form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 5px;
    background-color: #2A2A49;
    padding: 40px;
    border-radius: 5px;
}

.form .personal-data {
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}



label {
    padding: 10px 0 2px 0; 
    width: 100%;
    border-radius: 5px;
}

.form label:first-child {
    padding-top: 0;
    padding-bottom: 2%;
}

input::placeholder {
    font-family: var(--font);
    padding-left: 1%;
}

.personal-data label {
    margin-right: 5%;
}

.personal-data input,select { 
    width: 100%;
    border-radius: 5px;
    border: none;
    border: none;
    padding: 10px 13px;
}

select option {
    font-family: var(--font);
    padding-left: 1%;
}

.radio-option {
    display: flex;
    align-items: center;
   flex-direction: row;
}

.radio-option input {
    width: 100%;
    max-width: 20px;
}

.checkbox-section {
    margin-top: 8px;
    display: flex;
    flex-flow: column nowrap;
    padding-right: 280px;
}

textarea {
    width: 100%;
}

/* ---------GULAG--------- */

/* 

select {
    width: 105%;
}

.personal-data input,select { 
    width: 100%;
    border-radius: 5px;
    border: none;
    border: none;
    padding: 10px 13px;
}
*/

/* .form::before {
    content: "";
    width: 177px;
    z-index: -1;
    height: 138px;
    position: fixed;
    background-color: #2A2A49;
    opacity: 0.8;
    border-radius: 5px;
} */
